<br/>
<fieldset>

  <h2>Restaurant Directory</h2>

<br/>
   <ol>
    <% @restaurants.each do |restaurant| %>
      <li>
        <%= link_to restaurant.name, restaurant %>
        - Review Count:
        (<b><%= restaurant.reviews.count %></b>)
      </li>
    <% end %>
  </ol>
  <%= link_to "Back", root_path, class: "btn btn-outline-primary"%>
  <br/>
  <%= page_entries_info @restaurants %>
  <%= paginate @restaurants, window:2 %>
  </fieldset>
<br/>
